
/*colors https://colorhunt.co/palette/201883*/

body {
  background-color: #f1f1e8;
}
h1 {
  color: #81b214;
}
h3 {
  color: #206a5d;
}
a {
  color: gray;
}
p {
  color: #206a5d;
}
hr {
  border-style: none;
  background-color: #f1f1e8;
  border-top-style: dotted;
  border-top-width: 4px;
  border-color: #bfdcae;
  height: 0px;
  width: 40px;
}
