/* Make it a marquee */

/* .focus-product {
  width: 80%;
  height: 20px;
  font-size: 18px;
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
  padding: 5px;
  padding-bottom: 10px;
} */

/* .products_display {
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
} */

.DivWithScroll {
  height: 800px;
  overflow: scroll;
  overflow-x: hidden;
}

.photo-cart {
  object-fit: contain;
  height: 100px;
  width: 100px;
}

.right {
  left: 100%;
  background-color: white;
}

.detail {
  background-color: rgb(245, 245, 245);
  border: lightgray solid 1px;
  border-radius: 5px;
  width: 82%;
  height: 230px;
  padding: 5px;
}

.focusphoto {
  background-color: white;
  border: 1px solid lightgray;
  object-fit: contain;
  padding: 2px;
  height: 300px;
  width: 300px;
  margin: 10px;
}

.photo {
  background-color: white;
  border: 1px solid lightgray;
  object-fit: contain;
  padding: 2px;
  height: 175px;
  width: 175px;
  margin: 10px;
}
.photo:hover {
  cursor: pointer;
}

.MyCart {
  width: 200px;
  font-weight: bold;
  font-size: 17px;
  background-color: lightgray;
  padding: 10px;
  position: fixed;
  top: 0;
  right: 0;
}

.cartList {
  padding: 15px;
}
