/* Make it a marquee */

.focus-product {
  grid-column: 2;
  grid-row: 2;
  border-style: solid;
  width: 700px;
  font-size: 18px;
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
  padding: 5px;
  padding-bottom: 10px;
}

.products_display {
  border-style: solid;
  grid-column: 2;
  grid-row: 3;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
}

.DivWithScroll {
  height: 800px;
  overflow: scroll;
  overflow-x: hidden;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  background-color: blue;
  padding: 10px;
  align-items: center;
}

.grid-item {
  align-items: center;
}

.master-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 10px;
  align-items: center;
}

.header {
  grid-column: 2;
  grid-row: 1;
}

.leftmenue {
  grid-column: 1;
  grid-row: 1/4;
}
.rightmenue {
  grid-column: 3;
  grid-row: 1/4;
}

.photo-cart {
  object-fit: contain;
  height: 100px;
  width: 100px;
}

.focusphoto {
  background-color: white;
  border: 1px solid lightgray;
  object-fit: contain;
  padding: 2px;
  height: 300px;
  width: 300px;
  margin: 10px;
}

.photo {
  background-color: white;
  border: 1px solid lightgray;
  object-fit: contain;
  padding: 2px;
  height: 175px;
  width: 175px;
  margin: 10px;
}
.photo:hover {
  cursor: pointer;
}

.MyCart {
  width: 200px;
  font-weight: bold;
  font-size: 17px;
  background-color: lightgray;
  padding: 10px;
}

.cartList {
  padding: 15px;
}
