/* Make it a marquee */
.marquee,
.marquee_paused {
  overflow: hidden;
  white-space: nowrap;
  -webkit-animation: marquee 20s linear infinite;
  -moz-animation: marquee 20s linear infinite;
  animation: marquee 20s linear infinite;
}

.marquee_paused {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  animation-play-state: paused;
}

/* Make it move */
@-webkit-keyframes marquee {
  0% {
    text-indent: 100%;
  }
  100% {
    text-indent: -100%;
  }
}

/* Standard syntax */
@keyframes marquee {
  0% {
    text-indent: 100%;
  }
  100% {
    text-indent: -100%;
  }
}

.newsDiv {
  position: relative;
  width: 80%;
  height: 20px;
  font-size: 18px;
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
  padding: 5px;
  padding-bottom: 10px;
}

.news_item {
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
  display: inline;
}
.news_item:hover {
  text-decoration: underline;
  cursor: pointer;
}

.news_img {
  height: 20px;
  width: 15px;
}

.left,
.right {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: darkblue;
  color: white;
  display: inline;
  font-size: 20px;
  height: 20px;
  padding: 5px 10px 10px 5px;
}

.right {
  left: 100%;
  background-color: white;
}

.detail {
  background-color: rgb(245, 245, 245);
  border: lightgray solid 1px;
  border-radius: 5px;
  width: 82%;
  height: 230px;
  padding: 5px;
}

.news_photo {
  background-color: white;
  border: 1px solid lightgray;
  padding: 2px;
  height: 200px;
  width: 200px;
  float: right;
  margin: 10px;
}

.news_heading {
  font-weight: bold;
  font-size: 18px;
  padding: 10px;
}

.date {
  font-size: 13px;
  color: gray;
  padding: 10px;
}

.news_detail {
  font-size: 17px;
  padding: 10px;
  background-color: rgb(247, 247, 247);
}
